@font-face {
	font-family: "inter";
	src: url("Inter-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "inter";
	src: url("Inter-SemiBold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "inter";
	src: url("Inter-Bold.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
}

:root {
	--background: #f0eadb;
	--highlight: #B97A95;
	--secondary: #ccffd9;
	--content-width: 72rem;
	--default-padding: 1rem;
	--default-border:  2px solid black;
	font-family: "inter", sans-serif;
}

@media print {
 nav, footer {
	display: none !important;
 }

 * {
	 border: none !important;
 }
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background-color: var(--background);
}

.container {
	border-bottom: var(--default-border);
}

.content-block {
	max-width: var(--content-width);
	margin-inline: auto;
	border-inline: var(--default-border);
	padding-inline: var(--default-padding);
}

.boxed-start {
	border-right: var(--default-border);
	height: 100%;
	display: flex;
	align-items: center;
	padding-right: var(--default-padding);
}


header, footer {
	height: 2.5rem;
}

nav {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
}

nav ul {
	display: flex;
	column-gap: var(--default-padding);
	list-style: none;
}

a {
color: var(--highlight);
}

.main-header {
	background-color: var(--secondary);
	display: flex;
	flex-direction: column;
	row-gap: var(--default-padding);
	padding: 4rem;
}

.links-container {
	display: flex;
	flex-direction: column;
	row-gap: var(--default-padding);
	font-weight: bold;
}

.subtext{
	font-size: small;
	color: #555;
}

#experience-skills {
	display:flex;
	flex-wrap: wrap;
	gap: var(--default-padding);
	margin-inline: calc(-1 * var(--default-padding));
}

#experience-skills h1 {
	padding-top: var(--default-padding);
	padding-bottom: var(--default-padding);
	border-bottom: var(--default-border);
}

#experiences {
	max-width: calc(2*var(--content-width)/3);
}

#skills{
	min-width: calc(var(--content-width)/3);
}


@media (max-width: 1024px) {
	#experiences {
	 border-bottom: var(--default-border);
	}
}

footer {
	height: 2.5rem;
}

footer > div {
	display: flex;
	justify-content: end;
	align-items: center;
}

footer p {
	border-left: var(--default-border);
	height: 100%;
}
